/*
!/assets
!/components
!/layouts
!/middleware
!/pages
!/plugins
!/public
!/static
!/store
!/.editorconfig
!/.eslintignore
!/.eslintrc.js
!/.gitignore
!/jsconfig.json
!/nuxt.config.js
!/package.json
!/README.md
!/stylelint.config.js
